<!-- 系统框架通用底部和javascript -->
<footer>
<div class="page-footer">
	<!-- 底部 -->
	<div class="page-footer-inner">
		 2014 &copy; gogogogogo.
	</div>
	<!-- 回到顶部标签 -->
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../global/plugins/respond.min.js"></script>
<script src="../global/plugins/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="../global/plugins/jquery.min.js" ></script>
<script type="text/javascript" src="../global/plugins/bootstrap/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="../global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" ></script>
<script type="text/javascript" src="../global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="../global/plugins/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="../global/plugins/jquery.cokie.min.js" ></script>
<script type="text/javascript" src="../global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="../global/plugins/layer/layer.js"></script>
<script type="text/javascript" src="../global/plugins/layer/laypage.js"></script>
<script type="text/javascript" src="../global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="../global/scripts/metronic.js"></script>
<script type="text/javascript" src="../global/layout/scripts/layout.js"></script>
<script type="text/javascript" src="../global/layout/scripts/themes.js"></script>
<script type="text/javascript" src="../global/scripts/utils.js"></script>
</footer>